# Prever o volume da bolsa futuro de Tokyo utilizando regressão multilinear

Importando bibliotecas padrões

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Lendo dataset

In [2]:
dados = pd.read_csv('Tokyo_Stock.csv')

Exibindo cinco primeiras linhas

In [3]:
dados.head()

         Date   Open   High    Low  Close  Volume  Stock Trading
0  2016-12-30  42120  42330  41700  41830  610000    25628028000
1  2016-12-29  43000  43220  42540  42660  448400    19188227000
2  2016-12-28  43940  43970  43270  43270  339900    14780670000
3  2016-12-27  43140  43700  43140  43620  400100    17427993000
4  2016-12-26  43310  43660  43090  43340  358200    15547803000

Para aplicar o modelo precisamos converter a data para número de dias apenas

In [4]:
import datetime as ddt

In [5]:
dados['Date']=pd.to_datetime(dados['Date'])
dados['Date']=dados['Date'].map(ddt.datetime.toordinal)

Verificando se a conversão foi bem sucedida

In [6]:
dados.head()

     Date   Open   High    Low  Close  Volume  Stock Trading
0  736328  42120  42330  41700  41830  610000    25628028000
1  736327  43000  43220  42540  42660  448400    19188227000
2  736326  43940  43970  43270  43270  339900    14780670000
3  736325  43140  43700  43140  43620  400100    17427993000
4  736324  43310  43660  43090  43340  358200    15547803000

Determinando as variaveis X e Y

In [10]:
X = dados.drop(['Volume','Stock Trading'],axis=1).values
Y = dados['Volume'].values

Importando biblioteca do Scikit-learn para realizar regressão multilinear

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
modelo=LinearRegression()

In [15]:
modelo.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
coeficiente_linear = modelo.intercept_
coeficiente_angular = modelo.coef_

In [17]:
coeficiente_linear

19177195.83496226

In [18]:
coeficiente_angular

array([ -25.11475895,  -56.97590035,  455.45866025, -448.19781773,
         39.18002828])

In [19]:
Y_pred = modelo.predict(X)

Determinando erros do modelo

In [20]:
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [21]:
MAE = mean_absolute_error(Y,Y_pred)

In [22]:
MSE = mean_squared_error(Y,Y_pred)

In [23]:
RMSE = np.sqrt(MSE)

In [25]:
print("MAE = {:0.2f}".format(MAE))
print("MSE = {:0.2f}".format(MSE))
print("RMSE = {:0.2f}".format(RMSE))

MAE = 200553.00
MSE = 115220502155.69
RMSE = 339441.46